:root{
    --main-bg: #171717;
    --secondary-bg: #444444;
    --buttons: #da0037;
    --text: #ededed;
}

body{
    background-color:rgb(110, 4, 9);
}

.card{
    display: inline-block;
    height:150px;
    width:150px;
    border: 10px solid black;
    position:static;
    
    
}
.game-card{
    
    height:max-content;
    width: 250px;
    
}

.cardTitle{
    color:black!important;
}

.custom-container{
    border:black ;
}

.custom-column{
    border:black;
    height: 100%;
}

#searchby{
    padding: 2rem;

}

#searchresults{
    padding: 2rem;
}

#title{
    color: black;

}

#description{
    color: black;
}

#image{
    width: 300px;
}




