:root {
  --main-bg: #171717;
  --secondary-bg: #444444;
  --buttons: #da0037;
  --text: #ededed;
}
.custom-container {
  border: black;
}

.custom-column {
  border: black;
  height: 100%;
}

body {
  background-color: var(--main-bg);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
header {
  background-color: var(--secondary-bg);
}
h1 {
  padding-left: 10px;
}
.card {
  display: inline-block;
<<<<<<< HEAD
  border: 10px solid var(--buttons);
  position: static;
  background: var(--secondary-bg);
  margin: 5px;
  /* width: 300px;
  height: 300px; */
  word-wrap: break-word;
}
.customImg {
  height: 60%;
  width: 60%;
}
.card-image{
    height: 60%;
    width: 60%;
}

.cardTitle {
  color: var(--text) !important;
  
}
.card-header{
    padding-top: 0 !important;
=======
  height: 150px;
  width: 150px;
  border: 10px solid black;
  position: static;
>>>>>>> develop
}

.hidden {
  display: none;
}
.customSize {
  font-size: 20px;
}
.links {
  padding-right: 10px;
}
.active {
  color: var(--buttons) !important;
  border-bottom-color: var(--buttons) !important;
}
.customLink:hover {
  color: var(--buttons) !important;
}
a:hover {
  color: var(--buttons) !important;
}
.customButtons {
  background-color: var(--buttons) !important;
  border: var(--buttons) !important;
  color: var(--text) !important;
}
.customColor {
  color: var(--buttons) !important;
}
.customLink {
  color: var(--text) !important;
}
.customColor {
  color: var(--buttons) !important;
}
.customLink {
  color: var(--text) !important;
}
.modal-title {
  color: var(--text);
}
.modal-container {
  background: var(--main-bg);
}
.popModal {
  height: auto;
  width: auto;
}
.popLink {
  word-wrap: break-word;
}
.modal-overlay {
  background: #f7f8f9bf !important;
}
.popDiv {
  margin-bottom: 30px;
  margin-top: 30px;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.filterBox {
  justify-content: center;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.modal-body::-webkit-scrollbar {
  display: none;
}
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.modal-body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.ageRating {
  cursor: pointer;
}

.tabBlock {
  margin: auto;
  cursor: pointer;
}

#searchby {
  padding: 2rem;
}

#searchresults {
  padding: 2rem;
}

#title {
  color: var(--text);
}

<<<<<<< HEAD
=======
.customImg {
  height: 70%;
  width: 70%;
}

.game-card {
  display: inline-block;
  width: 250px;
}
.ageRating {
  cursor: pointer;
}

.game-card {
  width: 400px;
}
.tabBlock {
  margin: auto;
  cursor: pointer;
}
.cardTitle {
  color: var(--text) !important;
}

>>>>>>> develop
@media (max-width: 768px) {
  .navbar {
    justify-content: center;
  }
  .carDiv {
    margin: 0;
    padding: 0;
  }
  .carPre {
    width: auto;
    margin: auto;
  }
  .popModal {
    max-width: 99vw !important;
  }
  .customLink {
    text-align: center;
  }
  #navName {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    text-align: center;
  }
  #navLinks {
    justify-content: center;
  }
}
