body{
    background-color: aqua;
}
.previews{
    margin: 20px;
}
.filterBox{
    margin-top: 20px;
}
footer{
    position: fixed;
    bottom: 0;
    width: 99%;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
}
