:root{
    --main-bg: #171717;
    --secondary-bg: #444444;
    --buttons: #da0037;
    --text: #ededed;
}
body{
    background-color: var(--main-bg);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    background-color: var(--secondary-bg);
}
h1{
    padding-left: 10px;
}
.customSize{
    font-size: 20px;
}
.links{
    padding-right: 10px;
}
.active{
    color: var(--buttons) !important;
    border-bottom-color: var(--buttons) !important;
}
.customLink:hover{
    color: var(--buttons) !important;
}
a:hover{
    color: var(--buttons) !important;
}
.customButtons{
    background-color: var(--buttons) !important;
    border: var(--buttons) !important;
    color: var(--text) !important;
}
.customColor{
    color: var(--buttons) !important;
}
.customLink{
    color: var(--text) !important;
}
html{
    position: relative;
    min-height: 100%;  
}
.hidden{
    display: none;
}
.landingPage{
    flex-grow: 1;
    margin: 0 0 25px;
}
.previews{
    margin: 20px;
}
.filterBox{
    margin-top: 20px;
    margin-bottom: 100px;
}
.tabBlock{
    margin: auto;
    cursor: pointer;
}
.modal-title{
    color: var(--text);
}
.modal-container{
    background: var(--main-bg);
}
.popModal{
    height: auto;
    width: auto;
}
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
footer{
    background-color: var(--secondary-bg);
    /* position: fixed; */
    position: absolute;
    display: block;
    bottom: 0;
    width: 99%;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
}
.ageRating{
    cursor: pointer;
}
.carNav{
    background-color: black !important;
}
.carImg{
    margin: auto;
    height: auto;
    width: auto;
}
.carTitle{
    text-align: center;
    background-color: transparent;
    margin: 0;
}

@media (max-width: 768px) {
    .navbar{
        justify-content: center;
    }
    .carDiv{
        margin: 0;
        padding: 0;
    }
    .carPre{
        width: auto;
        margin: auto;
    }
    #navName{
        /* margin-right: 80px; */
        margin-bottom: 0;
        width: 375px;
        text-align: center;  
    }
    #navLinks{
        justify-content: center;
    }
}